<footer class="pane bg-npm-navy-1 ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3 class="h4 type-npm-pastel-3">VIP服务</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default">
            <li class="pbl"><a class="type-neutral-11" href="__APP__/Home/Article/footerDetail?word=technology">技术支持</a></li>
            <li class="pbl"><a class="type-neutral-11" href="__APP__/Home/Article/footerDetail?word=price">优惠价格</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h3 class="h4 type-npm-pastel-3">关注公众号</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default code-list">
            <li class="pbl"><img class="qrcode img-responsive"  src="__HOMEIMAGES__/erweima.jpg" alt=""></li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h3 class="h4 type-npm-pastel-3">关注交流群</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default ">
            <li class="pbl"><img class="qrcode img-responsive" src="__HOMEIMAGES__/erweima.jpg" alt=""></li>
          </ul>
        </div>
          <div class="col-md-6 col-md-offset-1">
          <h3 class="h4 type-npm-pastel-3">关于我们</h3>
          <hr class="divider-1">
          <ul class="list-unstyled h6 em-default">
            <li class="pbl"><a class="type-neutral-11" href="https://shop151759785.taobao.com" target="_blank">淘宝店铺</a></li>
            <li class="pbl"><a class="type-neutral-11" href="__APP__/Home/Article/footerDetail?word=intro">公司介绍</a></li>
            <li class="pbl"><a class="type-neutral-11" href="__APP__/Home/Article/footerDetail?word=contact">联系我们</a></li>
            <li class="pbl"><a class="type-neutral-11" href="__APP__/Home/Article/footerDetail?word=join">精英加盟</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="txt-c text-center">
      <a class="eciyuan-name type-neutral-11 active" href="/">
        {$Think.CONFIG.footer}
      </a>
    </div>
  </footer>
  	<include file="Public:footerjs" />