<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--网站自适应开始-->
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<!--[if lt IE 9]>
	 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
	 <![endif]-->
<!--网站自适应结束-->
<title>{$Think.CONFIG.sitename}</title>
<meta name="keywords" content="{$Think.CONFIG.keywords}" />
<meta name="description" content="{$Think.CONFIG.description}" />
<!-- 移动设备支持 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/font-awesome.css" />
<!-- page specific plugin styles -->
		<!-- text fonts -->
		<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="__PUBLIC__/qwadmin/css/ace-ie.css" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="__PUBLIC__/qwadmin/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="__PUBLIC__/qwadmin/js/html5shiv.js"></script>
		<script src="__PUBLIC__/qwadmin/js/respond.js"></script>
		<![endif]-->
<!-- 前台css自定义代码 -->
<link rel="stylesheet" href="__HOMECSS__/index.css">
<!-- 网站title logo -->  
  <link rel="icon" href="./logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="./logo.ico" type="image/x-icon">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
 <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> 
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- 在线客服 -->
 <style>
.rides-cs
 {  font-size: 12px; background:green; position: fixed; top: 250px; 
right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 
6px;}
.rides-cs a { color: #00A0E9;}
.rides-cs a:hover { color: #ff8100; text-decoration: none;}
.rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;height: 181px;}
.rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
.rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
.rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
.rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
.rides-cs .cn ul {padding:0px;}
.rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
.rides-cs .cn ul li span { color: #777;}
.rides-cs .cn ul li a{color: #777;}
.rides-cs .cn ul li img { vertical-align: middle;}
.rides-cs
 .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px;
 left: 0;  background-image: url(./img/zxkf.png); background-repeat: 
no-repeat; display:block;  height: 146px; padding: 8px;}
.rides-cs .btnOpen { background-position: 0 0;}
.rides-cs .btnCtn { background-position: -37px 0;}
.rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
.rides-cs ul li.bot { border-bottom: none;}
</style>
    <!-- 在线客服 -->