<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<form class="form-horizontal" action="{:U('update')}" method="post">
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 名称 </label>
										<div class="col-sm-9">
											<input type="text" name="name" class="rcol-xs-10 col-sm-5" value="{$Company.name}">
												<input type="hidden" name="uid" value="{$Company['id']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">名称</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 组织机构代码 </label>
										<div class="col-sm-9">
											<input type="text" name="code" class="rcol-xs-10 col-sm-5" value="{$Company.code}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">名称</span>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 企业类型 </label>
										<div class="col-sm-9">
											  <input type="radio" value="1"  name="type" <eq name="type" value="1" >checked="checked"</eq>  >
									 			           企业用户
									              <input type="radio" value="2" <eq name="type" value="2" >checked="checked"</eq> name="type">
									       		        个体工商户
											<span class="help-inline col-xs-12 col-sm-7">
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1">行业类型 </label>
										<div class="col-sm-9">
											 <input type="radio" value="1"  <eq name="trade" value="1" >checked="checked"</eq> name="trade">
									             服饰
									              <input type="radio" value="2" <eq name="trade" value="2" >checked="checked"</eq> name="trade">
									            美食
									              <input type="radio" value="3" <eq name="trade" value="3" >checked="checked"</eq> name="trade">
									             房产
									              <input type="radio" value="4" <eq name="trade" value="4" >checked="checked"</eq> name="trade">
									                旅行
									              <input type="radio" value=""<eq name="trade" value="" >checked="checked"</eq> name="trade">
									        其他    
											<span class="help-inline col-xs-12 col-sm-7">
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 运营者 </label>
										<div class="col-sm-9">
											<input type="text" name="linkman" id="linkman" placeholder="" class="col-xs-10 col-sm-5" value="{$Company.linkman}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">主持人</span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 密码 </label>
										<div class="col-sm-9">
												<input type="password" name="password" id="password" placeholder="密码" class="col-xs-10 col-sm-5" value="">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">修改密码</span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-4">营业执照</label>
										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">{:UpImage("license",100,100,$Company['license'])}</div>
											<span class="help-inline col-xs-12 col-sm-7">
												<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$Company.license}"/>
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
										</div>
										
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-4">清真许可证 </label>
										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">{:UpImage("qingzhen",100,100,$Company['qingzhen'])}</div>
											<span class="help-inline col-xs-12 col-sm-7">
											<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$Company.qingzhen}"/>
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
										</div>
										
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 运营者电话 </label>
										<div class="col-sm-9">
											<input type="text" name="link_mobile" id="link_mobile" placeholder="电话号码" class="col-xs-10 col-sm-5" value="{$Company['link_mobile']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-7"> Q&nbsp;&nbsp;Q </label>
										<div class="col-sm-9">
											<input type="text" name="qq" id="qq" placeholder="QQ" class="col-xs-10 col-sm-5" value="{$Company['qq']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-7"> 省份</label>
										<div class="col-sm-9">
											<input type="text" name="s_province" id="s_province" placeholder="省份" class="col-xs-10 col-sm-5" value="{$Company['s_province']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-7"> 城市</label>
										<div class="col-sm-9">
											<input type="text" name="s_county" id="s_county" placeholder="s_county" class="col-xs-10 col-sm-5" value="{$Company['s_county']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-7"> 县级 </label>
										<div class="col-sm-9">
											<input type="text" name="s_city" id="s_city" placeholder="s_city" class="col-xs-10 col-sm-5" value="{$Company['s_city']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-7">详情地址 </label>
										<div class="col-sm-9">
											<input type="text" name="address" id="address" placeholder="address" class="col-xs-10 col-sm-5" value="{$Company['address']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-8"> E-mail </label>
										<div class="col-sm-9">
											<input type="email" name="email" id="email" placeholder="E-mail" class="col-xs-10 col-sm-5" value="{$Company['email']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
								<div class="space-4"></div>
								<div class="form-group onlyInsite">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2">基本介绍 </label>
										<div class="col-sm-9">
											<textarea name="intro" id="intro" style="width:100%;height:400px;visibility:hidden;">{$Company['intro']}</textarea>
										</div>
									</div>
									<div class="space-4">控制在400字以内 可以图文并茂</div>
									<div class="space-4"></div>
									
									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->

		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		$(function() {
			var editor = KindEditor.create('textarea[name="intro"]',{
				uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
				fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
				allowFileManager : true,
				afterBlur:function(){this.sync();}  
				});
		});
		</script>
		<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
		<script src="__PUBLIC__/qwadmin/js/function.js"></script>
	</body>
</html>
