<header>
 <nav class="navbar navbar-default navigation-header" style="border-bottom: 0 none;font-size: 8px;transition: .25s all linear;" role="navigation">
   <div class="navbar-header ">
  			 <div class="navigation-brand">
                    <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" 
				         data-target="#navbar-collapse-content">
				         <span class="sr-only">切换导航</span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				      </button>
				        <div class="brand-logo">
				        <img alt="" src="">
                  		  <span>伊媒微时代</span>
                    	</div>
                </div>
   </div>
   <div class="collapse navbar-collapse" id="navbar-collapse-content">
     <ul class="nav navbar-nav navigation-bar">
        <li><a href="__APP__/Mobile/index" data-hover=""><span class="glyphicon glyphicon-home"></span>首页</a></li>
		 <li class="dropdown">
         	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span  class="glyphicon glyphicon-book" aria-hidden="true"></span>清真寺<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="__APP__/Mobile/Mosque/index"><span  class="glyphicon fa fa-users"></span>主页</a></li>
	            <li><a href="__APP__/Mobile/Mosque/perMosque"><span class="glyphicon glyphicon-user"></span>管理中心</a></li>
	            <li><a href="__APP__/Mobile/Login/index"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
	          </ul>
        </li>
		<li><a href="__APP__/Mobile/Life/index" data-hover=""><span class="glyphicon glyphicon-grain"></span>伊媒生活</a></li>
		<li><a href="__APP__/Mobile/Organize/index" data-hover=""><span class="glyphicon glyphicon-comment"></span>伊媒公益</a></li>
		<li><a href="__APP__/Mobile/Theme/index" data-hover=""><span class="glyphicon glyphicon-heart"></span>伊媒之约</a></li>
      </ul>
   </div>
</nav> 
</header>
<!--  <i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x-->
