<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	<!-- Meta -->
	<meta charset="utf-8">
    <title><if condition="$seotitle">{$seotitle}<else />{$title}</if>--{$webname}</title> 
    <meta name="Keywords" content="{$key}" /> 
    <meta name="Description" content="{$desc}" />  
	<meta name="author" content="pcwap.cn">
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <include file="Public:headjs" />

	<!--[if lt IE 9]>
      	<script src="__PUBLIC__/pcwap001/js/html5shiv.js"></script>
	      <script src="__PUBLIC__/pcwap001/js/respond.js"></script>
	<![endif]-->

</head>

<body id="page-top">
<include file=":header" />
		
		<!-- Right Main Content -->
		<div class="col-md-9 m-right">
		
			<!-- Intro Slider -->
		<!-- Page Header -->
			<div class="row">
				<div class="col-md-12">
					<div id="page-header" data-animated="0">
						<h3><span>{$title}</span></h3>
					
						<ul class="bread_crumbs">
							<li><a href="{$domain}">网站首页</a></li>
							<li>{$daohan}</li>
								<volist name="catesub" id="vo">
								<li><a href="{$vo.url}">{$vo.catename}</a></li>
								</volist>	
						</ul>
					</div>
				</div>
			</div>
			
			<!-- Blog Post Content -->
			<div class="row" data-animated="0">
				<div class="col-md-12">
					<div id="m-blog-content">
						<div class="row">
							<div class="col-md-12">
								<article class="item">
									
									<h4>{$title}</h4>
								
										<div class="col-md-12">
											{$content}
										</div>
										
								
									
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Blog Post Content -->
		
			
			
			<include file=":footer" />
			
		</div>
		<!-- Right Main Content - END -->
	</div>
</div>
<!-- Outer-wrap - END -->

<!-- jQuery -->

	
</body>
</html>
