<!DOCTYPE html>
<html lang="zh-cn">
<head>
		<include file="Public:head" />
</head>
<body>
	<div class="container-fluid">
		<include file="Public:header"/>
		<!--图片轮播 开始 -->
		<div id="carousel-example-generic" class="carousel slide text-center" data-ride="carousel">
			专注于品牌，专注于技术
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
		  专注于品牌，专注于技术
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img  class="img-responsive " alt="Responsive image" src="__HOMEIMAGES__/lunbo1.png" alt="首页新闻图片">
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item">
		      <img class="img-responsive " alt="Responsive image" src="__HOMEIMAGES__/lunbo3.jpg" alt="第二站测试">
		      <div class="carousel-caption">
		      <h1>专注于品牌，专注于技术</h1>
		              <p></p>
		              <p><a class="btn btn-lg btn-primary" href="#" role="button">详情了解</a></p>
		      </div>
		    </div>
		    <div class="item">
		      <img class="img-responsive " alt="Responsive image" src="__HOMEIMAGES__/lunbo2.png" alt="第二站测试">
		      <div class="carousel-caption">
		      <h1>专注于品牌，专注于技术</h1>
		              <p></p>
		              <p><a class="btn btn-lg btn-primary" href="#" role="button">详情了解</a></p>
		      </div>
		    </div>
		  </div>
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">上一个</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">下一个</span>
		  </a>
		</div>
		 <!--图片轮播 结束 -->
		 <!-- 产品服务介绍开始 -->
		 <div class="product    text-center">
		 <div class="row">
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon glyphicon-blackboard " aria-hidden="true"></span></font>
	          <h3>网站建设</h3>
	          <p>企业网站、电子商务网站、大型门户网站、营销型网站、网站代运营等</p>
	        </div>
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon glyphicon-edit " aria-hidden="true"></span></font>
	          <h3>淘宝装修</h3>
	          <p>店招设计、海报设计、首页设计、详情页设计、个性定制、特效代码等</p>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon glyphicon-cd " aria-hidden="true"></span></font>
	          <h3>广告设计与制作</h3>
	          <p>html5企业宣传制作、宣传册制作、名片设计、微视频制作等</p>
	          </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->
	      
		 <div class="row">
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon  glyphicon-qrcode " aria-hidden="true"></span></font>
	          <h3>微信建设</h3>
	          <p>微店建设、微信公众号二次开发、微信公众号代运营、微网站、三级分销等</p>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon glyphicon-phone " aria-hidden="true"></span></font>
	          <h3>手机建设</h3>
	          <p>苹果手机软件开发、安卓手机软件开发、智能app开发等</p>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-lg-4">
	         <font size=30px><span class="glyphicon glyphicon-cog " aria-hidden="true"></span></font>
	          <h3>维护与外包</h3>
	          <p>网站服务器维护，网站二次开发、修改源码等</p>
	        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
          </div>
			 <!-- 产品服务介绍结束 -->
			 <!-- 图片展示开始 -->
			 <div class="img-list-1 text-center">
			 	<img class="img-responsive " alt="Responsive image" src="__HOMEIMAGES__/With-and-without-NativeBase-2.png">
			 </div>
			 <!-- 图片展示结束-->
			<!--  资讯信息开始-->
			<div class="news-list text-center">
		  		<!-- Nav tabs -->
			  	<div class="News-head text-center">
				  <ul class="nav nav-tabs news-head-1 text-center" role="tablist">
				    <li role="presentation" class="active">
				    	<a href="#newsIndusty" aria-controls="newsIndustry" role="tab" data-toggle="tab">行业资讯</a>
				    </li>
				    <li role="presentation"><a href="#trends" aria-controls="trends" role="tab" data-toggle="tab">公司动态</a></li>
				    <li role="presentation"><a href="#skill" aria-controls="skill" role="tab" data-toggle="tab">技术心得</a></li>
				  </ul>
				  </div>
				  <!-- Tab panes -->
				  <div class="tab-content text-center">
				    <div role="tabpanel" class="tab-pane tab-pane-control active text-center " id="newsIndusty">
				    	<ul class="list-unstyled text-center">
				    	<volist name="newsIndustry" id="vo">
				    		<li class="text-center"><a href="__APP__/Article?id={$vo.aid}" target="_blank">{$vo.title}</a></li>
				    	</volist>
				    	</ul>
				    </div>
				    <div role="tabpanel" class="tab-pane tab-pane-control" id="trends">
				  	<ul class="list-unstyled text-center">
				    	<volist name="trends" id="vo">
				    	<li><a href="__APP__/Article?id={$vo.aid}" target="_blank">{$vo.title}</a></li>
				    	</volist>
				    	</ul>
				    </div>
				    <div role="tabpanel " class="tab-pane tab-pane-control" id="skill">
				    	<ul class="list-unstyled text-center">
				    		<volist name="skill" id="vo">
				    		<li><a href="__APP__/Article?id={$vo.aid}" target="_blank">{$vo.title}</a></li>
				    	</volist>
				    	</ul>
				    </div>
				  </div>
			</div>
				 <!--  资讯信息结束-->
			<!--案例开始  -->
			<div class="case-details-container text-center">
		            <div class="case-details-name">
		            <h2><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;&nbsp;案例成果</h2>
		            </div>
		            <hr/>
		            <div class="container-fluid">
						  <div class="row case-row">
							    <volist name="case" id="val">
								   <div class="col-md-4" id="col-md-4-control">
								      <div class="case-img">
								      	<img  alt="Responsive image" class="img-responsive " alt="项目图片展示" src="__ROOT__/{$val.thumbnail}" style="display: block;">
								      </div>
								       <div class="case-details text-center">
							           		<a href="__APP__/Home/Case/detail?sid={$val.sid}&aid={$val.aid}" target="_blank">
							           			 <h3 class="case-name">{$val.title}</h3>
							           			 <h4 class="case-type">{$val.type}</h4>
							                    <p class="case-intro">{$val.description}</p>
							                 </a>
							           </div>
								   </div>
							   </volist>
						 	 </div>
						  	 <div class="case-footer">
					            <p><a class="btn btn-default" href="__APP__/Home/Case/more?aid={$val.aid}&sid={$val.sid}" role="button">更多信息 &raquo;</a></p>
					       	</div>
					</div>
			</div>
			 <!--案例结束  -->
			 <!-- 图片展示2 -->
			 <div class="img-list-2 text-center">
					<div class="row ">
				        <div class="col-md-3 img-list-detail " >
				          <img class="img-responsive" src="__HOMEIMAGES__/list-Icon.png" alt="" title="">
				        </div>
				        <div class="col-md-3 img-list-detail" >
				          <img class="img-responsive" src="__HOMEIMAGES__/Input.png" alt="" >
				        </div>
				        <div class="col-md-3 img-list-detail" >
				          <img class="img-responsive" src="__HOMEIMAGES__/Button.png" alt="" >
				        </div>
				        <div class="col-md-3 img-list-detail" >
				          <img class="img-responsive" src="__HOMEIMAGES__/Header.png" alt="" >
				        </div>
				    </div>
				</div>
			 <!-- 图片展示2 -->
		<!--  合作伙伴开始-->
            <div class="text-center" id="friendLinkControl">
			 	<div class="link-name text-center">
	            <h2><i class="fa fa-link " aria-hidden="true"></i>&nbsp;&nbsp;合作伙伴</h2>
	           </div>
	            <div class="link-details text-center">
		            <ul  class="list-unstyled text-center">
			            <volist name="links" id="val">
			          	  <li><a href="{$val.url}" target="_blank">{$val.title}</a></li>
			            </volist>
		            </ul>
	            </div>
			</div>
			 	 <!--  合作伙伴结束-->
		<!--  联系我们开始-->
            <div class="text-center" id="contact">
			 	<div class="contact-name text-center">
	            <h2><i class="fa fa-phone " aria-hidden="true"></i>&nbsp;&nbsp;联系我们</h2>
	            <h4>全国统一服务热线：15248120395、15909581102</h4>
	           </div>
	            <div class="baiduMap text-center">
		            <!-- Nav tabs -->
			  	<div class="baiduMap-head text-center">
				  <ul class="nav nav-tabs baiduMap-head-1 text-center" role="tablist">
				    <li role="presentation" class="active">
				    	<a href="#yinchuanMap" aria-controls="yinchuanMap" role="tab" data-toggle="tab">银川总公司</a>
				    </li>
				    <li role="presentation"><a href="#hushiMap" aria-controls="hushiMap" role="tab" data-toggle="tab">呼和浩特办事处</a></li>
				    <li role="presentation"><a href="#chongqingMap" aria-controls="chongqingMap" role="tab" data-toggle="tab">重庆办事处</a></li>
				  </ul>
				  </div>
				  <!-- Tab panes -->
				  <div class="tab-content text-center">
				    <div role="tabpanel" class="tab-pane tab-pane-control active text-center " id="yinchuanMap">
				    <ul class="list-unstyled text-center">
				    		<li class="text-center"><img class="img-responsive" src="__HOMEIMAGES__/Map/yinchuanMap.png"/></li>
				    </ul>
				    </div>
				    <div role="tabpanel" class="tab-pane tab-pane-control" id="hushiMap">
				  	<ul class="list-unstyled text-center">
				    	<li class="text-center"><img class="img-responsive" src="__HOMEIMAGES__/Map/hushiMap.png"/></li>
				    	</ul>
				    </div>
				    <div role="tabpanel " class="tab-pane tab-pane-control" id="chongqingMap">
				    	<ul class="list-unstyled text-center">
				    		<li class="text-center"><img class="img-responsive" src="__HOMEIMAGES__/Map/chognqingMap.png"/></li>
				    	</ul>
				    </div>
				  </div>
	            </div>
			</div>
			 	 <!--   联系我们结束-->
			 	 <!-- 表单反馈 开始-->
			<section id="formFeedback" class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- CONTACT HEADING -->
                        <div class="row">
                            <h2 class="section-heading"></h2>
                            <p class="section-subheading text-center ">让我们来谈论你的需求吧</p>
                        </div>
                        <!-- END CONTACT HEADING -->
                        <div class="row">
                            <!-- CONTACT FORM -->
                            <form name="sentMessage" id="feedback"  method="post" action="{:U('feedback')}">
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="您的称呼" id="name" required="" data-validation-required-message="您的称呼也要输入" aria-invalid="false">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group pull-right">
                                        <input type="email" class="form-control" placeholder="Email" id="email" required="" data-validation-required-message="你的邮箱地址" aria-invalid="false">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group form-textarea">
                                        <textarea class="form-control" placeholder="填写您的需求" id="message" required="" data-validation-required-message="请输入内容"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-center">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-xl submit">立即发送</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END CONTACT FORM -->
                        </div>
                    </div>
                </div>
        </section>
			 	 <!-- 表单反馈结束 -->
			 	 <div class="height30px"></div>
			 	 <!-- 底部开始 -->
		<include file="Public:footer" />
<script type="text/javascript">
	$("#col-md-4-control").hover(
		  function () {
		    $(".case-img").css("display","none");
		  },
		  function () {
		    $(".case-details").removeClass("hover");
		  }
		);
	  /*  图片切换 结束 */
		$(function() {
			$(".submit").click(function(){
				var name = $("#name").val();
				var email = $("#email").val();
				var message = $("#message").val();
				if(name==0){
					bootbox.dialog({
						title: '友情提示：',
						message: "称呼也要填写！", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
				}
				if(email==''){
					bootbox.dialog({
						title: '友情提示：',
						message: "联系方式填写！", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
				}
				if(message==''){
					bootbox.dialog({
						title: '友情提示：',
						message: "需求内容也要填写！", 
						buttons: {
							"success" : {
								"label" : "确定",
								"className" : "btn-danger"
							}
						}
					});
					return;
					return;
				}
				$("#feedback").submit();
			});
			
		});
		</script>
	</div>
</body>
</html>
