<include file="Public:headjs" />
<body id="page-top">
<include file="Public:header" />
<!--幻灯片开始  -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
   <!--  <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="__MOBILE__/Img/life/gongyi.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    </div>

  <!-- Controls -->
 <!--  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
	<div class="container">
		<div class="life-body">
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa {$titleIcon}" aria-hidden="true"></i>{$title}公益信息
								</div>
						</div>
					</div>
					<div class="col-md-12">
							<div class="row margin-right-left-5">
								<ul class="list-unstyled">
									 <volist name="OrganizeInfo" id="val">
										<li class="list-unstyled">
											<div class="row">
											<empty name="val.url">
											<a href="__URL__/detail?sid={$val.sid}" target="_blank">
												<div class="col-xs-3 col-sm-3 "><!--__ROOT__{$val.thumbnail}  -->
														<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
													</div>
													<div class="blog-content">
														<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
														<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
													</div>
												</a>
												<else /> 
													<a href="{$val.url}" target="_blank">
													<div class="col-xs-3 col-sm-3 "><!--__ROOT__{$val.thumbnail}  -->
														<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
													</div>
													<div class="blog-content">
														<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
														<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
													</div>
												</a>
												</empty>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
						<div class="col-md-12 pagination text-center ">
							{$page}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa {$titleIcon}" aria-hidden="true"></i>{$title}公益组织
								</div>
						</div>
					</div>
					<div class="col-md-12">
							<div class="row margin-right-left-5">
								<ul class="list-unstyled">
									 <volist name="Organize" id="val">
										<li class="list-unstyled">
											<div class="row">
												<a href="__URL__/detail?id={$val.organize_id}" target="_blank">
													<div class="blog-content">
														<span id="">{$val.name|msubstr=0,30,'utf-8',false}</span><br>
														<span id="">{$val.intro|msubstr=0,100,'utf-8',true}</span>
													</div>
												</a>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
						<div class="col-md-12 pagination text-center ">
							{$page}
						</div>
				</div>
			</div>
		</div>
	</div>
 <include file="Public:footer" />
<!-- jQuery -->
</body>
</html>
