<include file="Public:headjs" />
<include file="Public:header" />
<body id="page-top">
		<div class="container">
		
					<div class="row">
					
					</div>
					<div class="row">
							<div id="blog" >
									<div class="blog-header text-center">
							        <h3 class="blog-post-title">{$detail['name']}</h3>
							    	 </div>
					           		<div class="blog-content">{$detail['intro']}</div>
						           	<ul class="blog_next_prev">
						                <li class="prev_blog">
						                	<span >上一篇</span>
						                	<a href="{:U('Organize/detail',array('id'=>$front['organize_id'],'type'=>clothes))}" >{$front['name']}</a></li>
						                <li class="next_blog">
						                	<span>下一篇</span>
						                		<a href="{:U('Organize/detail',array('id'=>$after['organize_id'],'type'=>clothes))}">{$after['name']}</a></li>
								    </ul>
							</div>
					</div>
					</div>
			<include file="Public:footer" />
</body>
</html>
