<include file="Public:headjs"/>
<body id="page-top">
	<include file="Public:header" />
	<!--幻灯片开始  -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="__MOBILE__/Img/mosque/mosque (1).png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="__MOBILE__/Img/mosque/mosque (2).png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="__MOBILE__/Img/mosque/mosque (3).png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
	<!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<!-- 菜单链接-->
		<div class="container">
			<div class="row" >
				<div class="mosque">
					<div id="mosqueCity" class="" >
							  <span class="label label-primary">
							  	 {$city}
							 </span>
					</div>
					<div id="myTabContent" class="">
							 <volist name="mosque" id="vo">
							   <div class="tab-pane fade in active" id="">
							      <p><a href="__URL__/perMosque?id={$vo.id}" target="_blank" >{$vo.name}</a></p>
							   </div>
						   </volist>
					</div>
				</div>
			</div>
			<div class="row" data-animated="0">
				<div class="col-md-12">
					<div id="addMosque">
						<cate id="1">
						<a href="__URL__/add" class="btn btn-primary btn-block btn-center">我要入驻</a>
						</cate>
					</div>
				</div>
			</div>
			<div class="row" data-animated="0">
				<div class="col-md-12">
					<div id="notice">
						<cate id="1">
						<a href="__URL__/notice" class="btn btn-primary  btn-block btn-center">我要通知</a>
						</cate>
					</div>
				</div>
			</div>
		</div>
			  	<include file="Public:footer"/>
  </body>
